
<h3>Criar Aluno:</h3>
<div class="card">
    <div class="card-body">
        <form action="/criar_aluno" method="POST">
            <label for="RA">RA: </label>
                <input type="text" name="RA" class="form-control" required>
            <label for="nome">Nome: </label>
                <input type="text" name="nome" class="form-control" required>
            <label for="email">Email: </label>
                <input type="email" name="email" class="form-control" required>
            <label for="turma">Email: </label>
                <input type="text" name="turma" class="form-control" required>
            <button type="submit" class="btn btn-success mt-4">Cadastrar</button>
        </form>
    </div>
</div>